html,
body {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    position: absolute;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFF;
    text-align: center;
}

.bg-colorful {
    background: #00d6fe;
    background: -webkit-gradient(linear, left bottom, left top, from(#8914d3), color-stop(#00d6fe), to(#8914d3));
    background: -webkit-linear-gradient(bottom, #8914d3, #00d6fe, #8914d3);
    background: -o-linear-gradient(bottom, #8914d3, #00d6fe, #8914d3);
    background: linear-gradient(0deg, #8914d3, #00d6fe, #8914d3);
    -webkit-animation: bg-animation 12s linear infinite;
    animation: bg-animation 12s linear infinite;
    -webkit-backface-visibility: hidden;
    background-size: 600% 600%;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: 0 97%;
    }
    50% {
        background-position: 100% 4%;
    }
    to {
        background-position: 0 97%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0 97%;
    }
    50% {
        background-position: 100% 4%;
    }
    to {
        background-position: 0 97%;
    }
}

.welcome {
    margin-top: 150px;
    font-size: 30px;
}

.container {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60vw;
    max-width: 380px;
    margin: 0 auto;
    min-height: 100vh;
}

.button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: none;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.button:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}

.button:hover {
    border-radius: 30px;
}

.wrap {
    width: 450px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

.mat-label {
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    text-align: left;
    color: white;
    transition: all 0.5s;
}

.mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
}

.mat-div {
    padding: 30px 0 0 0;
    position: relative;
}

.mat-div:after,
.mat-div:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.mat-div::after {
    background-color: white;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .mat-label {
    color: white;
}

.is-completed .mat-label {
    font-size: 12px;
    transform: translateY(0);
}

.submit-button {
    color: white;
    width: 60px;
    border: 2px solid white;
    display: block;
    margin: 35px auto;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}


@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -ms-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -ms-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  .animated {
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
  }